In [3]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import os

URLs = ['https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201802-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201803-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201805-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201806-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201807-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201808-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201809-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201810-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201811-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201812-citibike-tripdata.csv.zip']
       
       
dfs=[]
for URL in URLs:
# open and save the zip file onto computer
    url = urlopen(URL)
    output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
    output.write(url.read())
    output.close()

# read the zip file as a pandas dataframe
    df = pd.read_csv('zipFile.zip')      
    dfs.append(df)
# if keeping on disk the zip file is not wanted, then:
#os.remove(201307-citibike-tripdata.zip)   # remove the copy of the zipfile on disk

In [4]:
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [5]:
dfs[2].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72,W 52 St & 11 Ave,40.767272,-73.993929,3664,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [6]:
dfs[7].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [7]:
dfs[0].head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1

In [8]:
print('Converting month:')
for month in range(12):
    print('... ' + str(month + 1))
    dfs[month]['starttime'] = pd.to_datetime(dfs[month]['starttime'])
    dfs[month]['stoptime'] = pd.to_datetime(dfs[month]['stoptime'])

Converting month:
... 1
... 2
... 3
... 4
... 5
... 6
... 7
... 8
... 9
... 10
... 11
... 12

In [9]:

df = pd.concat(dfs)
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016500,734,2018-12-31 23:55:06.991,2019-01-01 00:07:21.230,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,379.0,W 31 St & 7 Ave,40.749156,-73.991600,27111,Subscriber,1986,1
1016501,2551,2018-12-31 23:55:44.307,2019-01-01 00:38:15.782,3320.0,Central Park West & W 100 St,40.794067,-73.962868,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,16390,Customer,1969,0
1016502,2376,2018-12-31 23:56:52.850,2019-01-01 00:36:29.286,427.0,Bus Slip & State St,40.701907,-74.013942,259.0,South St & Whitehall St,40.701221,-74.012342,34398,Subscriber,1979,1
1016503,2758,2018-12-31 23:58:29.212,2019-01-01 00:44:27.517,3320.0,Central Park West & W 100 St,40.794067,-73.962868,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,30818,Customer,1969,0
1016504,2459,2018-12-31 23:59:51.085,2019-01-01 00:40:50.880,128.0,MacDougal St & Prince St,40.727103,-74.002971,402.0,Broadway & E 22 St,40.740343,-73.989551,34775,Subscriber,1996,2

In [10]:
df.shape

(17548339, 15)

In [11]:
df.to_csv('Data/citibike_2018.csv', encoding='utf-8', index=False)